.popup__content {
    width: 430px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    align-self: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 540px) {
    .popup__content {
        width: 282px;
        margin-top: 123px;
    }
}