.profile__subtitle {
    margin-top: 16px;
    max-width: 336px;
    color: #FFFFFF;
    line-height: 21.78px;
    font-weight: 400;
    font-size: 18px;
    grid-area: profile__subtitle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    .profile__subtitle {
        margin: 0;
        line-height: 16.94px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        align-self: end;
    }
}