.popup__save-button {
    padding: 0;
    background-color: #000000;
    border-radius: 2px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    grid-area: popup_button;
    margin-top: 48px;
}

.popup__save-button:hover {
    opacity: 0.8;
}


@media screen and (max-width: 540px) {
    .popup__save-button {
        font-size: 14px;
        line-height: 17px;
        margin-top: 45px;
    }
}